.displayFlex {
    display: flex;
    flex-direction: column;
  }
  
  .underline {
    display: inline-block;
    margin: auto;
    margin-top: 4px;
    width: 100px;
    height: 4px;
    border-radius: 2px;
    background-color: #f9004d;
  }
  
  @media only screen and (max-width: 600px) {
    .underline {
      width: 80px;
    }
  }
  