

.innerContainer {
    max-width: 1080px;
    margin: auto;
    z-index: 20px;
    display: flex;
  
  
  }
  @media only screen and (max-width: 768px) {
    .innerContainer {
    width: 100%;
    margin: 0 auto;
    flex-direction:  column;
    gap: 10px;
  
    }
  }
  
  .formContainer {
  width: 50%;
    display: flex;
   flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
   
  }
  @media  (max-width: 768px) {
    .formContainer {
    width: 100%;
  
    }
  }
  
  
  .contactForm {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contactForm > :not(:last-child) {
    margin-bottom: 24px;
  }
  
  
  
  .contactWave {
    width: 100%;
    min-height: 455px;
    background-image: url("../../../assets/img/contact-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: absolute;
    bottom: 0;
    background-position: 50%;
    z-index: -1;
  }
  .gradient{
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, rgba(42, 89, 255, 1) 10%,   rgb(253, 43, 75) 40%, rgba(255, 43, 79, 1) 100%);
    -webkit-text-fill-color: transparent;
  }
  
  .contactIconContainer {
    margin: auto;
    margin-top: 90px;
    width: max-content;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .contactIconContainer > :not(:last-child) {
    margin-right: 24px;
  }
  
  /*///////////////// email sent successfully msge */
  
  .emailSentMsgeContainer {
    background-color: #f9004d;
    width: 300px;
    position: fixed;
    top: 15%;
    right: -20%;
    z-index: 999;
    padding: 5px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%, 18% 50%);
    animation: slideIn 4s ease-out forwards;
  }
  
  @keyframes slideIn {
    25% {
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @media only screen and (min-height: 1200px) {
    .contact {
      min-height: 80vh;
    }
  }
  
  @media only screen and (min-height: 1600px) {
    .contact {
      min-height: 65vh;
    }
  }
  
  @media only screen and (min-height: 2000px) {
    .contact {
      min-height: 55vh;
    }
  }
  
  @media only screen and (max-height: 900px) {
    .contact {
      padding-bottom: 160px;
    }
  }
  
  @media only screen and (max-height: 700px) {
    .contact {
      padding-bottom: 380px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .contactImageContainer {
      height: 400px;
    }
    .emailSentMsgeContainer {
      right: -30%;
    }
  }
  
  @media only screen and (max-width: 1200px) and (min-height: 1000px) {
    .contact {
      min-height: 65vh;
      margin-bottom: 0;
    }
    .contactWave {
      height: 300px;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .contactImageContainer {
      height: 350px;
    }
    .contactForm {
      width: 350px;
    }
    .contactForm > :not(:last-child) {
      margin-bottom: 20px;
    }
    .emailSentMsgeContainer {
      right: -50%;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .contactImageContainer {
      display: none;
    }
    .contactForm {
      width: 450px;
    }
  }
  
  @media only screen and (max-width: 800px) and (max-height: 1100px) {
    .contactWave {
      min-height: 300px;
    }
    .contact {
      min-height: 80vh;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .emailSentMsgeContainer {
      right: -60%;
    }
    .contact {
      margin-top: 76px;
    }
  }
  
  @media only screen and (max-width: 600px) and (max-height: 800px) {
    .contact {
      padding-bottom: 200px;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .contactImageContainer {
      display: none;
    }
    .contactForm {
      width: 85%;
    }
    .emailSentMsgeContainer {
      right: -70%;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .contactForm {
      width: 95%;
    }
    .emailSentMsgeContainer {
      right: -80%;
    }
  }
  
  @media only screen and (min-width: 1900px) {
    .contactWave {
      background-position: top;
    }
  }
  